.chat-room_body {
  background-color: #abc1b1;
  height: 1000vh;
}

.chat-room_body .status-bar,
.chat-room_body .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  background-color: #abc1b1;
}

.chat-room_body .alt-header {
  top: 10px;
}
.chat-room_body .status-bar {
  z-index: 2;
}
.main-chat {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat_timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 15px;
  border-radius: 25px;
  font-size: 14px;
  margin-bottom: 25px;
}

.message {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 12px;
}

.message-author {
  display: block;
  opacity: 0.9;
  font-size: 15px;
  margin-bottom: 8px;
}

.message_info {
  display: flex;
  align-items: flex-end;
}
.message_bubble {
  background-color: white;
  font-size: 18px;
  padding: 10px;
  border-radius: 13px;
  border-top-left-radius: 0px;
  margin-right: 8px;
}

.message_time {
  opacity: 0.8;
  font-size: 11px;
}

.message-own {
  justify-content: flex-end;
}

.message-own .message_bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 13px;
  margin-right: 0px;
  margin-left: 8px;
}

.message-own .message_info {
  flex-direction: row-reverse;
}
