.friends-display-link {
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 17px;
  margin-bottom: 5px;
}

.friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
  margin: 0px 3px;
}

.friends-display-link i:nth-child(2) {
  margin-left: 5px;
}

.friends-screen_channel {
  margin-top: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 15px;
}
.friends-screen_channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}
