.usercomponent,
.user-component_column:nth-child(1) {
  display: flex;
  align-items: center;
}

.user-component_text {
  margin-left: 20px;
}
.user-component_avatar {
  widows: 80px;
  height: 80px;
  border-radius: 30px;
}

.user-component-avatar_xl {
  width: 70px;
  height: 70px;
  border-radius: 30px;
}

.user-component-name {
  font-weight: 600px;
  font-size: 20px;
}

.user-component_subtitle {
  margin-top: 10px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
}
